* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

body {
   font-family: 'Lato', sans-serif;
}

section {
   background-size: cover;
   background-position: center top;
   background-repeat: no-repeat;
}